<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error" monitorInterval="60">
	<Properties>
		<Property name="P_Layout" value="[%d{yyyy-MM-dd HH:mm:ss,SSS}][%c][%-5p][%traceId]%m%n"/>
		<Property name="TriggerSize" value="100MB"/>
		<Property name="imFlush" value="true"/>
	</Properties>
	<Appenders>
      <Console name="Console" target="SYSTEM_OUT">
         <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss,SSS}][%c][%-5p][%traceId]%m%n"/>
      </Console>
     	<RollingRandomAccessFile name="thirdpartylog" immediateFlush="${imFlush}" fileName="/home/gooagoo/log/!xxx!-thirdparty.log" filePattern="/home/gooagoo/log/!xxx!-thirdparty.log_%d{yyyyMMddHHmmss}">
				 <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss,SSS}][%c][%-5p][%traceId]%m%n"/>
			<Policies>
				<SizeBasedTriggeringPolicy size="${TriggerSize}"/>
				<CronTriggeringPolicy schedule="0 0 0 * * ?" evaluateOnStartup="true"/>
			</Policies>
			<Filters>
			</Filters>
		</RollingRandomAccessFile>
		<RollingRandomAccessFile name="locallog" immediateFlush="${imFlush}" fileName="/home/gooagoo/log/!xxx!-local.log" filePattern="/home/gooagoo/log/!xxx!-local.log_%d{yyyyMMddHHmmss}">
				 <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss,SSS}][%c][%-5p][%traceId]%m%n"/>
			<Policies>
				<SizeBasedTriggeringPolicy size="${TriggerSize}"/>
				<CronTriggeringPolicy schedule="0 0 0 * * ?" evaluateOnStartup="true"/>
			</Policies>
			<Filters>
			</Filters>
		</RollingRandomAccessFile>
		<RollingRandomAccessFile name="batchlog" immediateFlush="${imFlush}" fileName="/home/gooagoo/log/!xxx!-batch.log" filePattern="/home/gooagoo/log/!xxx!-batch.log_%d{yyyyMMddHHmmss}">
				  <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss,SSS}][%c][%-5p][%traceId]%m%n"/>
			<Policies>
				<SizeBasedTriggeringPolicy size="${TriggerSize}"/>
				<CronTriggeringPolicy schedule="0 0 0 * * ?" evaluateOnStartup="true"/>
			</Policies>
			<Filters>
			</Filters>
		</RollingRandomAccessFile>
	</Appenders>
	<Loggers>
		<Logger name="redislog" level="info" includeLocation="true" additivity="false">
			<AppenderRef ref="locallog"/>
		</Logger>
		<Logger name="pushlog" level="info" includeLocation="true" additivity="false">
			<AppenderRef ref="locallog"/>
		</Logger>
		<Logger name="mongolog" level="info" includeLocation="true" additivity="false">
			<AppenderRef ref="locallog"/>
		</Logger>
		<Logger name="opslog" level="info" includeLocation="true" additivity="false">
			<AppenderRef ref="locallog"/>
		</Logger>
		<Logger name="mqlog" level="info" includeLocation="true" additivity="false">
			<AppenderRef ref="locallog"/>
		</Logger>
		<Logger name="configlog" level="info" includeLocation="true" additivity="false">
			<AppenderRef ref="locallog"/>
		</Logger>
		<Logger name="gaglog" level="info" includeLocation="true" additivity="false">
			<AppenderRef ref="locallog"/>
		</Logger>
		<Logger name="locallog" level="info" includeLocation="true" additivity="false">
			<AppenderRef ref="locallog"/>
		</Logger>
		<Logger name="batchlog" level="info" includeLocation="true" additivity="false">
			<AppenderRef ref="batchlog"/>
		</Logger>
		<Root level="ERROR" includeLocation="true">
			<AppenderRef ref="thirdpartylog"/>
		</Root>
	</Loggers>
</Configuration>