<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>加载成功</title>
</head>
<body>
<h1>店铺主数据同步-压力测试</h1>

<a href="/mq/shopType">生产业态mq</a>

<form action="/user/userLogin" method="post">

    <div style="height: 428px; width: 400px; margin: 8px;  background: #fff;">
        <div style="height: 100px;width: 400px;background: #3eb6e8;">
            请输入用户名与密码登录<br>
        </div>

        用户名：<input type="text" name="username" /><br>
        密&nbsp;&nbsp;&nbsp;码：<input type="password" name="password" /><br>
        <input type="submit" value="登录" />
        <a href="/user/registerpage" target="_blank">注册</a>
        <!--<img src="/images/testbackground.jpg">-->
    </div>
</form>

</body>
</html>